:root {
  --black: #000000;
  --white: #ffffff;

  --primary-50: #f7f7f7;
  --primary-100: #eeeeee;
  --primary-200: #e2e2e2;
  --primary-300: #d0d0d0;
  --primary-400: #ababab;
  --primary-500: #8a8a8a;
  --primary-600: #636363;
  --primary-700: #505050;
  --primary-800: #323232;
  --primary-900: #121212;

  --secondary-50: #dbefff;
  --secondary-100: #b8d8f3;
  --secondary-200: #99bbda;
  --secondary-300: #789fc2;
  --secondary-400: #5f8aaf;
  --secondary-500: #44769d;
  --secondary-600: #36688b;
  --secondary-700: #265474;
  --secondary-800: #17415e;
  --secondary-900: #002d46;
}
