@import "./base.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--gray-50);
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  background: var(--gray-900);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
