.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.long-fade-enter-active,
.long-fade-leave-active {
  transition: opacity 1s ease;
}

.long-fade-enter-from,
.long-fade-leave-to {
  opacity: 0;
}
